<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my品优购</title>
    <!-- 引入MUI框架的样式文件 -->
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <!-- 引入MUI额外字体图标的样式文件 -->
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <!-- 引入fontawesome字体图标的样式文件 -->
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <!-- 引入分类页面样式文件 -->
    <link rel="stylesheet" href="../styles/category.css">
</head>

<body>
    <div class="layout">
        <!-- 头部搜索框部分 -->
        <div class="pyg_header">
            <div class="mui-input-row mui-search">
                <input type="search" class="mui-input-clear" placeholder="">
            </div>
        </div>
        <!-- 主体内容部分 -->
        <div class="pyg_content">
            <div class="left">
                <ul>
                </ul>
            </div>
            <div class="right">
                <div class="cateList">

                </div>
            </div>
        </div>
        <!-- 底部导航部分 -->
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item mui-active" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-contact">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
</body>
<script type="text/template" id="leftnavTemp">
    {{each list value index}}
    <li class="{{index==0?'active':''}}">
        <a href="#" data-id="{{value.cat_id}}">{{value.cat_name}}</a>
    </li>
    {{/each}}
</script>
<script type="text/template" id="rightListTemp">
    {{each children value index}}
    <div class="cate">
        <div class="cate_title">{{value.cat_name}}</div>
        <div class="cate_content">
        {{each value.children value index}}
            <a>
                <img src="http://157.122.54.189:9094{{value.cat_icon}}"
                    alt="">
                <div>{{value.cat_name}}</div>
            </a>
            {{/each}}
        </div>
    </div>
    {{/each}}
</script>
<script src="../lib/mui/js/mui.min.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src="../js/common.js"></script>
<script src="../lib/iscroll/iscroll.js"></script>
<script src="../js/category.js"></script>

</html>