<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my商品详情页</title>
    <!-- 引入MUI框架的样式文件 -->
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <!-- 引入MUI额外字体图标的样式文件 -->
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <!-- 引入fontawesome字体图标的样式文件 -->
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <!-- 引入分类页面样式文件 -->
    <link rel="stylesheet" href="../styles/goodDetail.css">
</head>

<body>
    <div class="layout">
        <!-- 头部搜索框部分 -->
        <header id="header" class="mui-bar mui-bar-nav pyg_header">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">商品详情</h1>
        </header>

        <!-- 主体内容部分 -->
        <div class="pyg_content">
            <!-- 区域滚动容器 -->
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll goodsInfo">
                    <!-- 轮播图部分开始 -->
                    <div class="mui-slider">
                        <!-- 轮播图片部分 -->
                        <div class="mui-slider-group mui-slider-loop">
                            <!--支持循环，需要重复图片节点-->
                            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img
                                        src="../static/images/2.jpg" /></a>
                            </div>
                            <div class="mui-slider-item"><a href="#"><img src="../static/images/1.jpg" /></a></div>
                            <!--支持循环，需要重复图片节点-->
                            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img
                                        src="../static/images/1.jpg" /></a>
                            </div>
                        </div>
                        <!-- 轮播点标记部分 -->
                        <div class="mui-slider-indicator">
                            <div class="mui-indicator mui-active"></div>
                        </div>
                    </div>

                    <!-- 商品名称开始 -->
                    <div class="goods_name mui-ellipsis-2">海信（Hisense） LED55EC720US 55英寸超薄4K智能液晶电视机平板</div>

                    <!-- 商品价格开始 -->
                    <div class="goods_price">￥ 3799</div>

                    <!-- 产品信息 -->
                    <div class="goods_info">
                        <ul>
                            <li>
                                <span>已选</span>
                                <span>白色</span>
                            </li>
                            <li>
                                <span>促销</span>
                                <span>是</span>
                            </li>
                            <li>
                                <span>送至</span>
                                <span>上海市</span>
                            </li>
                        </ul>
                    </div>

                    <!-- 商品描述选项卡开始 -->
                    <div class="good_description">
                        <!-- 选项导航 -->
                        <div style="padding: 10px 10px;">
                            <div id="segmentedControl" class="mui-segmented-control">
                                <a class="mui-control-item mui-active" href="#item1">图文详情</a>
                                <a class="mui-control-item" href="#item2">规格参数</a>
                            </div>
                        </div>
                        <!-- 选项面板 -->
                        <div>
                            <div id="item1" class="mui-control-content mui-active">
                                aaa
                            </div>
                            <div id="item2" class="mui-control-content">
                                <div>
                                    <h3>主体</h3>
                                    <div>
                                        <span>商品名称</span>
                                        <span>LED55EC720US</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 底部导航部分 -->
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="./index.html">
                    <span class="mui-icon mui-icon-weixin"></span>
                    <span class="mui-tab-label">微信客服</span>
                </a>
                <a class="mui-tab-item" href="./views/category.html">
                    <span class="mui-icon mui-icon-phone"></span>
                    <span class="mui-tab-label">电话客服</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-contact">
                    <span class="mui-tab-label">立即购买</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-tab-label">加入购物车</span>
                </a>
            </nav>
        </div>    </div>

    <script type="text/template" id="gdTemp">
        
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/goodDetail.js"></script>
</body>

</html>