@import './reset.less';
@import './common.less';

.pyg_header {
    background-color: #0094ff;
    padding: 0 4px;

    >.mui-title {
        color: #fff;
    }

    >.mui-icon {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        padding-top: 7px;
    }
}

.pyg_content {
    position: relative; //子元素下拉刷新容器是绝对定位，子绝父相

    .goods_list {
        >li {
            width: 100%;
            margin-bottom: 5px;

            >a {
                width: 100%;
                display: block;
                background-color: #fff;
                overflow: hidden;
                padding: 2px 0;

                >div:nth-of-type(1) {
                    width: 50%;
                    float: left;

                    >img {
                        width: 70%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                >div:nth-of-type(2) {
                    width: 50%;
                    height: 100%;
                    overflow: hidden; //让子元素的文本超出可以变成...
                    float: right;
                    padding: 30px 0;

                    >div {
                        padding-bottom: 40px;
                        color: #aaa;
                    }

                    >span {
                        font-size: 18px;
                        color: #f00;
                        font-weight: bold;
                    }

                }
            }
        }
    }

    .aside {
        >.aside_query {
            height: 44px;
            background-color: #ddd;
            padding: 6px;
            display: flex;

            >.query_txt {
                flex: 1;
                background-color: #fff;
                margin: 0;
                padding: 0;
                border: transparent;
                text-indent: 10px;
                color: #333;
            }

            >.query_btn {
                padding: 0 30px;
                border: transparent;
                color: #fff;
                background-color: #0094ff;
            }
        }

        >.aside_history {
            background-color: #fff;
            padding: 6px;

            >button {
                padding: 5px 20px;
                margin-bottom: 6px;
            }

            >.historyList {
                display: flex;
                flex-wrap: wrap;

                >li {
                    padding: 5px 3px;
                    font-size: 12px;
                    color: #333;
                    margin-left: 5px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                }
            }
            >.queryGoods {
                background-color:#fff;
                >.queryList {
                    overflow:hidden;
    
                    padding:5px;
                    >li {
                        color:#0094ff;
                        padding:5px 0;
                        overflow:hidden;
                    }
                }
              
            }

        }
        
       
    }
}