@import './reset.less';
@import './common.less';
.pyg_header {
    background-color:#0094ff;
    padding:0 4px;
    >.mui-title {
        color:#fff;
    }
    >.mui-icon {
        color:#fff;
        font-size:30px;
        font-weight:bold;
        padding-top:7px;
    }
}