@import './reset.less';
@import './common.less';
.pyg_nav {
    padding: 15px;
    display: flex;
    background-color: #fff;

    >a {
        flex: 1;
        text-align: center;
        font-size: 13px;
        color: #333;

        >img {
            width: 50%;
            display: inline-block;
        }
    }
}

.pyg_goodsList {
    padding: 10px;

    .pyg_goodsItem {
        overflow: hidden;

        .titleImg {
            width: 100%;
            display: block;
        }

        .pyg_goods {
            width: 49%;
            float: left;
            margin-top: 5px;

            img {
                width: 100%;
                display: block;
            }

            .goods_desc {
                font-size: 13px;
                color: #333;
                margin: 5px 0;
            }

            .goods_price {
                font-size: 16px;
                color: #f00;
            }

            .goods_similar {
                width: 80%;
                margin: 0 auto;
                display: block;
            }
        }

        .pyg_goods:nth-of-type(even) {
            margin-left: 2%;
        }
    }

<<<<<<< HEAD
}
=======
}
>>>>>>> f3346652777faf125eb9ac44ff0e6f9038b12eeb
