@import './reset.less';



.layout {
    width: 100vw;
    height: 100vh;
    max-width: 640px;
    background-color: #eee;
    margin: 0 auto;
  }


.pyg_content {
    padding-top:44px;
    .mui-input-group {
        margin-top:10px;
    }
    .logIn {
        width:100%;
        margin:20px 10px; 
    }
}
.pyg_footer {
    height:50px;
}

